@tailwind base;
@tailwind components;
@tailwind utilities;
.header-breadcrump {
  background-color: white;
  margin: 16px 0;
  position: sticky;
  top: 20px;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .ant-menu {
  background-color: #475be8;
  color: white;
}
.ant-sider {
  background-color: #475be8;
} */
