@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  /* @apply text-four; */
}
.header-breadcrump {
  background-color: white;
  margin: 16px 0;
  position: sticky;
  top: 20px;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ant-menu {
  @apply bg-secondary;
}
.ant-sider {
  /* @apply bg-purp */
}
.ant-menu > .ant-menu-item {
  @apply p-7
}
.ant-menu > .ant-menu-item-selected {

  @apply text-third;
}
.ant-menu > .ant-menu-item-active {
  @apply rounded-none;
}
/* ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open */
